<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
        <!-- auxilia ver o conteudo do formulario e se esta valido
        {{ form.value | json}}
        {{ form.valid }} -->
        <form novalidate #form="ngForm" >
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>                

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">

              <mt-input-container errorMessage="campo obrigatório!" label="Endereço">
                  <input ngModel type="text" class="form-control" required minlength="5" 
                    autocomplete="false" name="endereco" placeholder="Endereço">
              </mt-input-container>

            </div>
            <div class="col-sm-2 col-xs-6">

              <mt-input-container errorMessage="campo obrigatório!" label="Número">
                  <input ngModel type="number" class="form-control" required minlength="1" 
                    autocomplete="false" name="numero" placeholder="Número">               
              </mt-input-container>
              
            </div>
            <div class="col-sm-4 col-xs-6">

              <mt-input-container>
                <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Complemento</label>
                <input type="text" class="form-control" name="complemento" ngModel placeholder="Complemento">                
              </mt-input-container>

            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            <div class="col-xs-12 table-responsive">

              <mt-order-items [items]="cartItems()"
                (increaseQtd)="increaseQtd($event)"
                (decreaseQtd)="decreaseQtd($event)"
                (remove)="remove($event)"></mt-order-items>

            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">
                 
                  <mt-radio [options]="paymentOptions" name="paymentOption" ngModel required></mt-radio>

                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>

              <mt-delivery-costs
                [delivery]="delivery"
                [itemsValue]="itemsValue()"></mt-delivery-costs>
              
            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">
            <button (click)="checkOrder(form.value)" [disabled]="!form.valid || cartItems().length === 0"
              class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Concluir Pedido
            </button>
          </div>
        </div>

    </section>
</section>